<!DOCTYPE html>
<html>
<head>
    <title>Reservation Successful</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1>Reservation Successful!</h1>
        <p>Your reservation has been confirmed. We look forward to welcoming you soon!</p>
        <p>Check your email for more details.</p>
    </div>

    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>